.App {
  text-align: center;
}


label{
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 5px;
  text-decoration-color: red;
  text-decoration-thickness: 5px;
  margin: 10px;
}
.inlog{
margin: 120px;

}
.inlog >input{
  margin-right: 30px;
}
